WarningsAsErrors: '*'

HeaderFilterRegex: 'examples/.*|src/.*|tests/.*'

Checks: '
  abseil-*,
  boost-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-reserved-identifier,
  -bugprone-standalone-empty,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  google-*,
  -google-readability-todo,
  -google-upgrade-googletest-case,
  llvm-include-order,
  llvm-namespace-comment,
  misc-*,
  -misc-include-cleaner,
  -misc-use-anonymous-namespace,
  modernize-*,
  -modernize-type-traits,
  -modernize-use-designated-initializers,
  -modernize-use-nodiscard,
  -modernize-use-std-numbers,
  -modernize-use-std-print,
  performance-*,
  -performance-enum-size,
  portability-*,
  readability-*,
  -readability-container-contains,
  -readability-container-data-pointer,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  -readability-named-parameter,
  -readability-simplify-boolean-expr,
  -readability-static-accessed-through-instance,
'

CheckOptions:
  - key:    misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:  'true'

  - key:    modernize-use-trailing-return-type.TransformLambdas
    value:  'none'

  - key:    readability-braces-around-statements.ShortStatementLines
    value:  '1'

  - key:    readability-function-cognitive-complexity.IgnoreMacros
    value:  'true'

  - key:    readability-identifier-naming.ClassCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.ClassMemberCase
    value:  'lower_case'
  - key:    readability-identifier-naming.ClassMethodCase
    value:  'lower_case'
  - key:    readability-identifier-naming.ConceptCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.EnumCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.EnumConstantCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.GlobalConstantCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.GlobalConstantIgnoredRegexp
    value:  'value'
  - key:    readability-identifier-naming.GlobalFunctionCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.GlobalFunctionIgnoredRegexp
    value:  '(swap)|(get)'
  - key:    readability-identifier-naming.GlobalVariableCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.LocalVariableCase
    value:  'lower_case'
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroDefinitionIgnoredRegexp
    value: '^[A-Z]+(_[A-Z0-9]+)*_$'
  - key:    readability-identifier-naming.MemberCase
    value:  'lower_case'
  - key:    readability-identifier-naming.MethodCase
    value:  'lower_case'
  - key:    readability-identifier-naming.NamespaceCase
    value:  'lower_case'
  - key:    readability-identifier-naming.ParameterCase
    value:  'lower_case'
  - key:    readability-identifier-naming.PrivateMemberCase
    value:  'lower_case'
  - key:    readability-identifier-naming.PrivateMemberSuffix
    value:  '_'
  - key:    readability-identifier-naming.ProtectedMemberPrefix
    value:  'AVOID_PROTECTED_MEMBERS'
  - key:    readability-identifier-naming.TemplateParameterCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.TypeAliasCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.TypeAliasIgnoredRegexp
    value:  '(value_type)|(difference_type)|(reference)|(pointer)|(iterator_category)|(type)'
  - key:    readability-identifier-naming.TypedefPrefix
    value:  'AVOID_TYPEDEFS'
